* {
  &,&::before,&::after {box-sizing:border-box}
  user-select: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #37474F;
  text-shadow: 0 0 10px black;
}